In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
car=pd.read_csv('quikr_car.csv')

In [3]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [4]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [5]:
car.shape

(892, 6)

In [6]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [7]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

## QUALITY

- year has many non-year values
- year object to int
- removing 'ask for price' entity
- kms_driven has kms with integers
- kms_driven to int
- fuel type has nan values
- keep first three words as name

CLEANING

In [8]:
backup=car.copy()

In [9]:
car[car['year'].str.isnumeric()]

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [10]:
import pandas as pd

car['year'] = pd.to_numeric(car['year'], errors='coerce')
car['year'] = car['year'].fillna(0).astype(int)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    int64
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 41.9+ KB

In [12]:
car[car['Price']!="Ask For Price"]

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,0,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [13]:
import pandas as pd

car['Price'] = car['Price'].str.replace(',', '', regex=False)
car['Price'] = pd.to_numeric(car['Price'], errors='coerce')

In [14]:
car['Price']

0       80000.0
1      425000.0
2           NaN
3      325000.0
4      575000.0
         ...
887    310000.0
888    260000.0
889    390000.0
890    180000.0
891    160000.0
Name: Price, Length: 892, dtype: float64

In [15]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',',' ')

In [16]:
car = car[car['kms_driven'].fillna('').astype(str).str.isnumeric()]

In [17]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 1 to 763
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        19 non-null     object
 1   company     19 non-null     object
 2   year        19 non-null     int64
 3   Price       17 non-null     float64
 4   kms_driven  19 non-null     object
 5   fuel_type   19 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.0+ KB

In [18]:
car['kms_driven']=car['kms_driven'].astype(int)

In [19]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 1 to 763
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        19 non-null     object
 1   company     19 non-null     object
 2   year        19 non-null     int64
 3   Price       17 non-null     float64
 4   kms_driven  19 non-null     int64
 5   fuel_type   19 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.0+ KB

In [20]:
car[~car['fuel_type'].isna()]

,name,company,year,Price,kms_driven,fuel_type
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000.0,40,Diesel
15,Mahindra Jeep CL550 MDI,Mahindra,2006,425000.0,40,Diesel
215,Mahindra Jeep MM 550 XDB,Mahindra,2019,390000.0,60,Diesel
222,Mahindra Jeep CL550 MDI,Mahindra,2018,385000.0,588,Diesel
302,Maruti Suzuki Swift VXi 1.2 ABS BS IV,Maruti,2019,610000.0,73,Petrol
364,Mahindra Jeep MM 550 XDB,Mahindra,2019,390000.0,60,Diesel
381,Mahindra Jeep CL550 MDI,Mahindra,2018,385000.0,588,Diesel
382,Mahindra Jeep MM 550 XDB,Mahindra,2006,425000.0,122,Diesel
387,Toyota Innova 2.5 E MS 7 STR BS IV,Toyota,2012,770000.0,0,Diesel
427,Nissan X Trail Select Variant,Nissan,2019,1200000.0,300,Diesel
470,Maruti Suzuki Swift Dzire Tour VXi,Maruti,2011,230000.0,65,Petrol
485,Tata Tigor Revotron XZ,Tata,2019,650000.0,100,Diesel
567,Datsun Go Plus T O,Datsun,2016,NaN,5,Petrol
577,Mahindra Jeep MM 550 XDB,Mahindra,2004,424000.0,383,Diesel
702,Ford Figo Petrol Titanium,Ford,2019,525000.0,0,Petrol
721,Maruti Suzuki Zen Estilo LXI Green CNG,Maruti,2009,125000.0,0,Petrol
738,Hyundai Creta 1.6 SX,Hyundai,2019,1200000.0,0,Petrol
762,Tata Tiago Revotorq XZ,Tata,2019,568500.0,0,Petrol
763,Tata Nexon,Tata,2019,NaN,0,Petrol

In [21]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [22]:
car=car.reset_index(drop=True)

In [23]:
car

                   name   company  year      Price  kms_driven fuel_type
0   Mahindra Jeep CL550  Mahindra  2006   425000.0          40    Diesel
1   Mahindra Jeep CL550  Mahindra  2006   425000.0          40    Diesel
2      Mahindra Jeep MM  Mahindra  2019   390000.0          60    Diesel
3   Mahindra Jeep CL550  Mahindra  2018   385000.0         588    Diesel
4   Maruti Suzuki Swift    Maruti  2019   610000.0          73    Petrol
5      Mahindra Jeep MM  Mahindra  2019   390000.0          60    Diesel
6   Mahindra Jeep CL550  Mahindra  2018   385000.0         588    Diesel
7      Mahindra Jeep MM  Mahindra  2006   425000.0         122    Diesel
8     Toyota Innova 2.5    Toyota  2012   770000.0           0    Diesel
9        Nissan X Trail    Nissan  2019  1200000.0         300    Diesel
10  Maruti Suzuki Swift    Maruti  2011   230000.0          65    Petrol
11  Tata Tigor Revotron      Tata  2019   650000.0         100    Diesel
12       Datsun Go Plus    Datsun  2016        NaN           5    Petrol
13     Mahindra Jeep MM  Mahindra  2004   424000.0         383    Diesel
14     Ford Figo Petrol      Ford  2019   525000.0           0    Petrol
15    Maruti Suzuki Zen    Maruti  2009   125000.0           0    Petrol
16    Hyundai Creta 1.6   Hyundai  2019  1200000.0           0    Petrol
17  Tata Tiago Revotorq      Tata  2019   568500.0           0    Petrol
18           Tata Nexon      Tata  2019        NaN           0    Petrol

In [24]:
car['Price'].fillna(car['Price'].median(), inplace=True)

C:\Users\NEEL\AppData\Local\Temp\ipykernel_10908\1028622736.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Price'].fillna(car['Price'].median(), inplace=True)

In [25]:
car

                   name   company  year      Price  kms_driven fuel_type
0   Mahindra Jeep CL550  Mahindra  2006   425000.0          40    Diesel
1   Mahindra Jeep CL550  Mahindra  2006   425000.0          40    Diesel
2      Mahindra Jeep MM  Mahindra  2019   390000.0          60    Diesel
3   Mahindra Jeep CL550  Mahindra  2018   385000.0         588    Diesel
4   Maruti Suzuki Swift    Maruti  2019   610000.0          73    Petrol
5      Mahindra Jeep MM  Mahindra  2019   390000.0          60    Diesel
6   Mahindra Jeep CL550  Mahindra  2018   385000.0         588    Diesel
7      Mahindra Jeep MM  Mahindra  2006   425000.0         122    Diesel
8     Toyota Innova 2.5    Toyota  2012   770000.0           0    Diesel
9        Nissan X Trail    Nissan  2019  1200000.0         300    Diesel
10  Maruti Suzuki Swift    Maruti  2011   230000.0          65    Petrol
11  Tata Tigor Revotron      Tata  2019   650000.0         100    Diesel
12       Datsun Go Plus    Datsun  2016   425000.0           5    Petrol
13     Mahindra Jeep MM  Mahindra  2004   424000.0         383    Diesel
14     Ford Figo Petrol      Ford  2019   525000.0           0    Petrol
15    Maruti Suzuki Zen    Maruti  2009   125000.0           0    Petrol
16    Hyundai Creta 1.6   Hyundai  2019  1200000.0           0    Petrol
17  Tata Tiago Revotorq      Tata  2019   568500.0           0    Petrol
18           Tata Nexon      Tata  2019   425000.0           0    Petrol

In [26]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        19 non-null     object
 1   company     19 non-null     object
 2   year        19 non-null     int64
 3   Price       19 non-null     float64
 4   kms_driven  19 non-null     int64
 5   fuel_type   19 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.0+ KB

In [27]:
car = car.astype({
    'year': 'int32',
    'Price': 'int32',
    'kms_driven': 'int32'
})

In [28]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        19 non-null     object
 1   company     19 non-null     object
 2   year        19 non-null     int32
 3   Price       19 non-null     int32
 4   kms_driven  19 non-null     int32
 5   fuel_type   19 non-null     object
dtypes: int32(3), object(3)
memory usage: 816.0+ bytes

In [29]:
car.describe()

              year         Price  kms_driven
count    19.000000  1.900000e+01   19.000000
mean   2014.578947  5.251316e+05  127.578947
std       5.699082  2.767764e+05  192.034232
min    2004.000000  1.250000e+05    0.000000
25%    2010.000000  3.900000e+05    0.000000
50%    2018.000000  4.250000e+05   60.000000
75%    2019.000000  5.892500e+05  111.000000
max    2019.000000  1.200000e+06  588.000000

In [30]:
car[car['Price']<6e6].reset_index(drop=True)

                   name   company  year    Price  kms_driven fuel_type
0   Mahindra Jeep CL550  Mahindra  2006   425000          40    Diesel
1   Mahindra Jeep CL550  Mahindra  2006   425000          40    Diesel
2      Mahindra Jeep MM  Mahindra  2019   390000          60    Diesel
3   Mahindra Jeep CL550  Mahindra  2018   385000         588    Diesel
4   Maruti Suzuki Swift    Maruti  2019   610000          73    Petrol
5      Mahindra Jeep MM  Mahindra  2019   390000          60    Diesel
6   Mahindra Jeep CL550  Mahindra  2018   385000         588    Diesel
7      Mahindra Jeep MM  Mahindra  2006   425000         122    Diesel
8     Toyota Innova 2.5    Toyota  2012   770000           0    Diesel
9        Nissan X Trail    Nissan  2019  1200000         300    Diesel
10  Maruti Suzuki Swift    Maruti  2011   230000          65    Petrol
11  Tata Tigor Revotron      Tata  2019   650000         100    Diesel
12       Datsun Go Plus    Datsun  2016   425000           5    Petrol
13     Mahindra Jeep MM  Mahindra  2004   424000         383    Diesel
14     Ford Figo Petrol      Ford  2019   525000           0    Petrol
15    Maruti Suzuki Zen    Maruti  2009   125000           0    Petrol
16    Hyundai Creta 1.6   Hyundai  2019  1200000           0    Petrol
17  Tata Tiago Revotorq      Tata  2019   568500           0    Petrol
18           Tata Nexon      Tata  2019   425000           0    Petrol

In [31]:
car

                   name   company  year    Price  kms_driven fuel_type
0   Mahindra Jeep CL550  Mahindra  2006   425000          40    Diesel
1   Mahindra Jeep CL550  Mahindra  2006   425000          40    Diesel
2      Mahindra Jeep MM  Mahindra  2019   390000          60    Diesel
3   Mahindra Jeep CL550  Mahindra  2018   385000         588    Diesel
4   Maruti Suzuki Swift    Maruti  2019   610000          73    Petrol
5      Mahindra Jeep MM  Mahindra  2019   390000          60    Diesel
6   Mahindra Jeep CL550  Mahindra  2018   385000         588    Diesel
7      Mahindra Jeep MM  Mahindra  2006   425000         122    Diesel
8     Toyota Innova 2.5    Toyota  2012   770000           0    Diesel
9        Nissan X Trail    Nissan  2019  1200000         300    Diesel
10  Maruti Suzuki Swift    Maruti  2011   230000          65    Petrol
11  Tata Tigor Revotron      Tata  2019   650000         100    Diesel
12       Datsun Go Plus    Datsun  2016   425000           5    Petrol
13     Mahindra Jeep MM  Mahindra  2004   424000         383    Diesel
14     Ford Figo Petrol      Ford  2019   525000           0    Petrol
15    Maruti Suzuki Zen    Maruti  2009   125000           0    Petrol
16    Hyundai Creta 1.6   Hyundai  2019  1200000           0    Petrol
17  Tata Tiago Revotorq      Tata  2019   568500           0    Petrol
18           Tata Nexon      Tata  2019   425000           0    Petrol

In [32]:
car['Price'].describe()

count    1.900000e+01
mean     5.251316e+05
std      2.767764e+05
min      1.250000e+05
25%      3.900000e+05
50%      4.250000e+05
75%      5.892500e+05
max      1.200000e+06
Name: Price, dtype: float64

In [33]:
car['Price'].max()

np.int32(1200000)

In [34]:
car = car[car['Price'] < 600000].reset_index(drop=True)

In [35]:
len(car[car['Price'] >= 600000])

0

In [36]:
car['Price'].dtype

dtype('int32')

In [37]:
car = (car.assign(Price=pd.to_numeric(car['Price'].astype(str)
                                      .str.replace(',', '')
                                      .str.strip(),
                                      errors='coerce'))
          .query('Price < 600000')
          .reset_index(drop=True))

In [38]:
car['Price'].max()
len(car)

14

In [39]:
car = car[car['Price'] < 600000].reset_index(drop=True)

In [40]:
car

                   name   company  year   Price  kms_driven fuel_type
0   Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
1   Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2      Mahindra Jeep MM  Mahindra  2019  390000          60    Diesel
3   Mahindra Jeep CL550  Mahindra  2018  385000         588    Diesel
4      Mahindra Jeep MM  Mahindra  2019  390000          60    Diesel
5   Mahindra Jeep CL550  Mahindra  2018  385000         588    Diesel
6      Mahindra Jeep MM  Mahindra  2006  425000         122    Diesel
7   Maruti Suzuki Swift    Maruti  2011  230000          65    Petrol
8        Datsun Go Plus    Datsun  2016  425000           5    Petrol
9      Mahindra Jeep MM  Mahindra  2004  424000         383    Diesel
10     Ford Figo Petrol      Ford  2019  525000           0    Petrol
11    Maruti Suzuki Zen    Maruti  2009  125000           0    Petrol
12  Tata Tiago Revotorq      Tata  2019  568500           0    Petrol
13           Tata Nexon      Tata  2019  425000           0    Petrol

In [41]:
car.to_csv('Cleaned Car.csv')

MODEL

In [42]:
X=car.drop(columns='Price')
y=car['Price']

In [43]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2)

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [45]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [46]:
ohe.categories_

[array(['Datsun Go Plus', 'Ford Figo Petrol', 'Mahindra Jeep CL550',
        'Mahindra Jeep MM', 'Maruti Suzuki Swift', 'Maruti Suzuki Zen',
        'Tata Nexon', 'Tata Tiago Revotorq'], dtype=object),
 array(['Datsun', 'Ford', 'Mahindra', 'Maruti', 'Tata'], dtype=object),
 array(['Diesel', 'Petrol'], dtype=object)]

In [47]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [48]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [49]:
pipe=make_pipeline(column_trans,lr)

In [50]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Datsun Go Plus', 'Ford Figo Petrol', 'Mahindra Jeep CL550',
       'Mahindra Jeep MM', 'Maruti Suzuki Swift', 'Maruti Suzuki Zen',
       'Tata Nexon', 'Tata Tiago Revotorq'], dtype=object),
                                                                            array(['Datsun', 'Ford', 'Mahindra', 'Maruti', 'Tata'], dtype=object),
                                                                            array(['Diesel', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [51]:
y_pred=pipe.predict(X_test)

In [52]:
y_pred

array([384661.27845139, 390438.08953866, 395643.29472387])

In [53]:
r2_score(y_test,y_pred)

-0.36729599281496084

In [54]:
scores=[]
for i in range(10):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    print(r2_score(y_test,y_pred),i)
    scores.append(r2_score(y_test,y_pred))

-0.5677196413563643 0
0.9396247406294183 1
0.0021471705043550893 2
0.9407138900249955 3
0.0021471703844689882 4
0.9395532790443797 5
-2.8303051891572824 6
0.3310728344110877 7
0.3601416356666286 8
0.3885639823980045 9

In [55]:
np.argmax(scores)

np.int64(3)

In [56]:
scores[np.argmax(scores)]

0.9407138900249955

In [57]:
 X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(scores))
 lr=LinearRegression()
 pipe=make_pipeline(column_trans,lr)
 pipe.fit(X_train,y_train)
 y_pred=pipe.predict(X_test)
 r2_score(y_test,y_pred)

0.9407138900249955

In [58]:
import pickle

In [59]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [60]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Dzire','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

ValueError: Found unknown categories ['Maruti Suzuki Dzire'] in column 0 during transform